[**@oneplatform/sdk**](../README.md)

***

[@oneplatform/sdk](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/sdk/src/resources/platform-types.ts:193](https://github.com/aaron777collins/oneplatform/blob/e5bb8f585c10107015e961e4e99a8fbe094a70d3/packages/sdk/src/resources/platform-types.ts#L193)

## Properties

### errors

> `readonly` **errors**: `object`[]

Defined in: [packages/sdk/src/resources/platform-types.ts:195](https://github.com/aaron777collins/oneplatform/blob/e5bb8f585c10107015e961e4e99a8fbe094a70d3/packages/sdk/src/resources/platform-types.ts#L195)

#### field

> **field**: `string`

#### message

> **message**: `string`

***

### valid

> `readonly` **valid**: `boolean`

Defined in: [packages/sdk/src/resources/platform-types.ts:194](https://github.com/aaron777collins/oneplatform/blob/e5bb8f585c10107015e961e4e99a8fbe094a70d3/packages/sdk/src/resources/platform-types.ts#L194)
