"gateway_service_role"   "PGBOUNCER_PASSWORD_gateway"
"auth_service_role"      "PGBOUNCER_PASSWORD_auth"
"ingestion_service_role" "PGBOUNCER_PASSWORD_ingestion"
"ontology_service_role"  "PGBOUNCER_PASSWORD_ontology"
"pipeline_service_role"  "PGBOUNCER_PASSWORD_pipeline"
"execution_service_role" "PGBOUNCER_PASSWORD_execution"
"app_service_role"       "PGBOUNCER_PASSWORD_app"
"logging_service_role"   "PGBOUNCER_PASSWORD_logging"
"plugin_service_role"    "PGBOUNCER_PASSWORD_plugin"
"pgbouncer_admin"        "PGBOUNCER_PASSWORD_pgbouncer_admin"
"pgbouncer_stats"        "PGBOUNCER_PASSWORD_pgbouncer_stats"
